body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #075e54; /* Verde característico de WhatsApp */
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #075e54; /* Verde de WhatsApp */
}

p {
    color: #555;
    margin-bottom: 20px;
}

.contact-btn {
    /* ... Otros estilos ... */
    color: #fff; /* Cambia el color del texto del botón a blanco */
    text-decoration: none; /* Elimina el subrayado predeterminado del enlace */
}

.contact-btn:hover {
    /* ... Otros estilos de hover ... */
    color: #ccc; /* Cambia el color del texto del botón a gris claro cuando se pasa el ratón por encima */
}
.centered-image {
    display: block;
    margin: 20px auto; /* Esto centra la imagen */
    max-width: 100%; /* Asegura que la imagen no se salga del contenedor */
    height: auto; /* Permite que la altura se ajuste proporcionalmente al ancho */
}
